@font-face {
  font-family: Amatic;
  src: url(../fonts/AmaticSC-Bold.ttf);
}
@font-face {
  font-family: Parsienne;
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: Hibernate;
  src: url(../fonts/Hibernate.otf);
}